<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547269833536-9j5uc009k28fnirboqlenq477cladma8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547269833536-9j5uc009k28fnirboqlenq477cladma8</string>
	<key>API_KEY</key>
	<string>AIzaSyBBMx4jU14Kr4ckZlkdvpUx3qoNZE8jEOA</string>
	<key>GCM_SENDER_ID</key>
	<string>547269833536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobohybrid.testwizard</string>
	<key>PROJECT_ID</key>
	<string>testwizard-98084</string>
	<key>STORAGE_BUCKET</key>
	<string>testwizard-98084.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547269833536:ios:950d01f02fefc27e11c0a5</string>
</dict>
</plist>